@charset "UTF-8";
body, html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}


.days .active {
padding: 5px;
background: #1abc9c;
color: white !important
}

#calendar table td:hover {
  background-color: #ffcc00; /* 마우스 오버 시 배경색 변경 (원하는 색상으로 변경) */
  cursor: pointer; /* 마우스 오버 시 커서 모양 변경 (포인터 모양) */
}


table {
width: 100%;
height: 100%;
border: black;

border-left-style: solid;
border-radius: 10px;
}
table, th, td {
border-style: solid;
border-width: 1px;
overflow: hidden;
}

.sunday {
color: red;
border: 1px solid black;
}
.saturday {
color: blue;
border: 1px solid black;
}

th, td {
width: 100px;
height: 80px;
color: black;
}

caption12 {
background-color: beige;
font-size: 2em;
font-family: 'HanziPen TC', Serif;
display:block;
}

td {
color: black;
font-family: 'Raanana', Serif;
padding: 0px;
text-align: left;
vertical-align: top;
}

th {
background-color: pink;
font-family: 'HanziPen TC', "Bodoni 72 Oldstyle";
}


.time {
font-family: 'HanziPen TC', "Bodoni 72 Oldstyle";
font-size: 13px;
color: blue;

}
.prev, .next {
display: inline-block;
font-size: 20px;
cursor: pointer;
padding: 5px;
}

.prev {
float: left;
}

.next {
float: right;
}

.name{
  cursor: pointer; 
  display: inline-block;
}